<div class="modal fade modal-fullscreen black force-fullscreen" data-modal="{{::id}}" role="dialog"
     aria-labelledby="myModalFullScreen" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-xs pull-right full-close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body" style="margin-top: 30px;">
                {{::content}}
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>