<li class="dropdown dropdown-language dropdown-dark" lnc-hover-dropdown>
    <a class="dropdown-toggle" data-toggle="dropdown">
        <img alt="" src="image/flags/us.png">
        <span class="langname"> EN </span> <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-default">
        <li class="active">
            <a href="#"> <img alt="" src="image/flags/us.png"> English </a>
        </li>
        <li>
            <a href="#"><img alt="" src="image/flags/vn.png"> Vietnamese</a>
        </li>
    </ul>
</li>
