.select2-container--bootstrap .select2-results__option[aria-selected=true] {
    background-color: #E5E5E5;
    color: #262626;
}

select.lnc-select.ng-leave, select.lnc-select.ng-leave.ng-leave-active {
    display: none;
}

select.lnc-select.ng-enter {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

select.lnc-select.ng-enter {
    opacity: 0;
}

select.lnc-select.ng-enter.ng-enter-active {
    opacity: 1;
}

.select2-results .row {
    margin: 0px;
}