<!-- END PAGE SPINNER -->
<lnc-layout-header></lnc-layout-header>
<div class="clearfix"></div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <lnc-layout-sidebar></lnc-layout-sidebar>
    <!-- END SIDEBAR -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <div ui-view class="fade-in-up"></div>
        </div>
    </div>
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<lnc-layout-footer></lnc-layout-footer>
<!-- END FOOTER -->