<form class="search-form open" ng-submit="search()">
    <style>
        em {
          font-weight: bold;
        }
    </style>
    <div class="input-group">
        <input type="text" data-ng-model="search.text"
               class="form-control" placeholder="Searching ..." name="query"
               ng-keyup="suggest(search.text)">
        <span class="input-group-btn">
            <button type="submit" class="btn submit">
                <i class="fa fa-search fa-fw"></i>
            </button>
        </span>
    </div>
    <div class="input-group" ng-if="results.length > 0" style="width: 95%">
        <div lnc-scroll="{autoHideScrollbar: true, alwaysShowScrollbar: 0, scrollInertia: 100, scrollbarPosition: 'outside'}"
             style="max-height: 400px; margin-left: 5px">
            <ul class="feeds">
                <li data-ng-repeat="item in results track by $index">
                    <a style="margin-bottom: 0px" data-ng-repeat="obj in item.highLightObj"
                       data-ng-click="go(item.id, item.module)" ng-bind-html="obj + '<br>'"></a>
                    <span class="label label-success"> {{item.module}} </span>
                </li>
                <li class="text-center" data-ng-if="results.length == 5">
                    <a data-ng-click="search()">
                        view all ...
                    </a>
                </li>
            </ul>
        </div>
    </div>
</form>