<div class="help-block" ng-message="required">This field is required.</div>
<div class="help-block" ng-message="min">Value is too small.</div>
<div class="help-block" ng-message="max">Value is too big.</div>
<div class="help-block" ng-message="minlength">Input is too short.</div>
<div class="help-block" ng-message="maxlength">Input is too long.</div>
<div class="help-block" ng-message="email">Invalid email address.</div>
<div class="help-block" ng-message="date">Invalid date.</div>
<div class="help-block" ng-message="datetime">Invalid date time.</div>
<div class="help-block" ng-message="url">Invalid URL.</div>
<div class="help-block" ng-message="pattern">String contains invalid letter(s).</div>
<!-- product metadata-->
<div class="help-block" ng-message="isValidNameUnit">Used already.</div>
<div class="help-block" ng-message="productPartNumberExisted">Part Number already exist.</div>
<div class="help-block" ng-message="productSKUExisted">SKU already exist.</div>
<div class="help-block" ng-message="metaUnitInvalid">Units is invalid.</div>
<!-- ----- ---->
<div class="help-block" ng-message="lncEqual">Not same.</div>
<!-- Warehouse voucher-->
<div class="help-block" ng-message="isValidAmount">Amount not equal total serials</div>
<div class="help-block" ng-message="productUnitExisted">Item existed.</div>
<!------>
<!--- Company Service - Profile -->
<div class="help-block" ng-message="validDateFormat">Not valid format.</div>
<div class="help-block" ng-message="validTimeFormat">Not valid format.</div>
<!--- END Company Service - Profile -->
<!-- Sale Service -->
<div class="help-block" ng-message="isExisted">Item existed.</div>
<!-- END Sale Service -->
<!-- Address -->
<div class="help-block" ng-message="addressRequired">Need input full address (Province, District, Ward and Street)</div>
<div class="help-block" ng-message="lncPriceMax">Price Invalid (greater than max value)</div>
<div class="help-block" ng-message="lncSerialAmountMax">Number of serials greater than product quantity.</div>
