<div class="preview" style="display: table-cell; width: auto; max-width: 100%; padding: 2px; cursor: pointer">
    <input type="file" style="display:none" name="file" accept="image/*" />
    <div class="image-holder">
        <img src=""/>
    </div>

    <div class="image-buttons">
        <button type="button" class="btn btn-icon-only green" name="check">
            <i class="fa fa-check"></i>
        </button>
        <button type="button" class="btn btn-imageClose btn-icon-only red" name="cancel">
            <i class="fa fa-trash-o"></i>
        </button>
    </div>
</div>